* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d0dbd2;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  cursor: crosshair;
}

#gallery {
  height: 75vmax;
  width: 95vmax;
  position: relative;
  margin-top: 30px;
}

.block {
  position: absolute;
  width: 150px;
  height: 200px;
  z-index: 1;
  background-color: #f0f0f0;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #666;
  transform-origin: center;
  transition: z-index 0.1s ease;
}

.block:hover {
  z-index: 2;
}


.block:nth-child(1) {
  top: 5%; left: 2%;
  background: url("./assets/1.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 9deg;
}

.block:nth-child(2) {
  top: 0%; left: 20%;
  background: url("./assets/2.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -8deg;
}

.block:nth-child(3) {
  top: 8%; left: 45%;
  background: url("./assets/3.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 11deg;
}

.block:nth-child(4) {
  top: 3%; left: 70%;
  background: url("./assets/4.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -12deg;
}

.block:nth-child(5) {
  top: 12%; left: 80%;
  background: url("./assets/5.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 7deg;
}

.block:nth-child(6) {
  top: 18%; right: 0%;
  background: url("./assets/6.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -9deg;
}

.block:nth-child(7) {
  top: 15%; left: -1%;
  background: url("./assets/7.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 12deg;
}

.block:nth-child(8) {
  top: 25%; left: 25%;
  background: url("./assets/8.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -7deg;
}

.block:nth-child(9) {
  top: 20%; left: 55%;
  background: url("./assets/9.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 8deg;
}

.block:nth-child(10) {
  top: 30%; left: 75%;
  background: url("./assets/10.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -11deg;
}

.block:nth-child(11) {
  top: 38%; right: -2%;
  background: url("./assets/11.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 10deg;
}

.block:nth-child(12) {
  top: 25%; left: 10%;
  background: url("./assets/12.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -9deg;
}

.block:nth-child(13) {
  top: 45%; left: 5%;
  background: url("./assets/13.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 7deg;
}

.block:nth-child(14) {
  top: 18%; left: 35%;
  background: url("./assets/14.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -12deg;
}

.block:nth-child(15) {
  top: 45%; left: 28%;
  background: url("./assets/15.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 11deg;
}

.block:nth-child(16) {
  top: 42%; left: 55%;
  background: url("./assets/16.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -10deg;
}

.block:nth-child(17) {
  top: 50%; left: 68%;
  background: url("./assets/17.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 9deg;
}

.block:nth-child(18) {
  top: 48%; left: 80%;
  background: url("./assets/18.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -8deg;
}

.block:nth-child(19) {
  top: 65%; left: -2%;
  background: url("./assets/19.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 12deg;
}

.block:nth-child(20) {
  top: 61%; left: 18%;
  background: url("./assets/20.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -7deg;
}

.block:nth-child(21) {
  top: 39%; left: 40%;
  background: url("./assets/21.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 8deg;
}

.block:nth-child(22) {
  top: 69%; left: 59%;
  background: url("./assets/22.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -9deg;
}

.block:nth-child(23) {
  top: 65%; left: 88%;
  background: url("./assets/23.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 11deg;
}

.block:nth-child(24) {
  top: 78%; left: 10%;
  background: url("./assets/24.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -12deg;
}

.block:nth-child(25) {
  top: 70%; left: 30%;
  background: url("./assets/25.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 7deg;
}

.block:nth-child(26) {
  top: 65%; left: 45%;
  background: url("./assets/26.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: -10deg;
}

.block:nth-child(27) {
  top: 75%; left: 70%;
  background: url("./assets/27.jpg") no-repeat 50% 50%;
  background-size: cover;
  rotate: 9deg;
}
